@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-page {
    display: flex;
    max-width: 100vw;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;

    background: #EFEFEF;

    &__uppart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__logo-image {
        width: 91px;
        height: 69px;
    }
}

.nav {
    &__list {
        padding-left: 0px;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 45px;
        position: relative;

        &:last-child {
            margin-bottom: 267px;
        }
    }

    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;

        color: #7F85A2;
    }
}

.nav-technical {
    margin-left: -70px;

    &__list {
        padding-left: 0px;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 48px;
        }
    }

    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;

        color: #7F85A2;
    }
}

.dashboard-container {
    width: 100%;
    padding: 50px;
    background: #F7F7F7;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__input {
        width: 320px;
        height: 58px;
        margin-right: 53px;
        padding: 19px 55px 19px 48px;

        background-color: #FFFFFF;
        border: none;
        border-radius: 12px;

        background-image: url(/assets/images/Search.svg);
        background-repeat: no-repeat;
        background-position: center left 20px;
    }

    &__link {
        margin-right: 53.18px;
    }
}

.overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title-container {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;

        color: #1E1F20;
    }
}

.sessions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-column: 1 / 4;
    flex: 0 1 auto;

    padding: 30px 45px 31px 25px;

    background: #FFFFFF;
    backdrop-filter: blur(150px);

    border-radius: 12px;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        color: #1E1F20;
    }

    &__day-list {
        display: flex;
        justify-self: end;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: rgba(30, 31, 32, 0.4);
        list-style-type: none;
    }

    &__day-item {
        margin-right: 20.1px;
    }

    &__chart-container {
        grid-column: 1 / 3;
    }
}

.realtime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 270px;
    max-height: fit-content;
    padding-bottom: 50px;

    background: #FFFFFF;
    backdrop-filter: blur(150px);

    border-radius: 12px;

    &__title {
        // margin-top: 70px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height, or 136% */

        text-align: center;

        /* Primary/100% */

        color: #3E6BEC;
    }

    &__number-users {
        margin-top: 12px;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 115px;
        /* identical to box height */

        text-align: center;

        /* Primary/100% */

        color: #3E6BEC;
    }

    &__subtitle {
        position: relative;
        margin-top: 43px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */

        text-align: center;
        /* Dark/100% */

        color: #1E1F20;

        &::before {
            position: absolute;
            left: 15%;
            top: -1%;
            width: 25px;
            height: 25px;
            content: '';
            background-image: url(/assets/images/user.svg);
        }
    }
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.audience-section {
    display: flex;
    flex-direction: column;
    flex-basis: 220px;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;

        color: #1E1F20;
    }

    &__chart-container {}
}

.info-list {
    list-style-type: none;

    &__item {
        position: relative;
        margin-bottom: 15px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;

        color: #7F85A2;

        &::before {
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            width: 8px;
            position: absolute;
            left: -12px;
        }

        &:first-child::before {
            color: #E45851;
        }

        &:nth-child(2)::before {
            color: #423FC6;
        }

        &_yellow:nth-child(3)::before {
            color: #FDDE69;
        }

        &_green:nth-child(3)::before {
            color: #62CA76;
        }
    }
}

.language-section {
    display: flex;
    flex-direction: column;
    flex-basis: 220px;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;

        color: #1E1F20;
    }

    &__chart-container {}
}

.users-rate {
    flex-basis: 370px;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    height: 340px;
    padding-top: 30px;
    padding-right: 24px;
    padding-left: 42px;

    background-color: white;

    &-container {
        flex-basis: 50%;
    }

    &__subtitle {
        position: relative;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        color: #1E1F20;

        &::before {
            content: "\2022";
            color: #E45851;
            width: 8px;
            font-weight: bold;
            position: absolute;
            left: -9%;
        }
    }

    &__number {
        margin-top: 0px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;

        color: #1E1F20;
    }
}

.day-select {
    &-container {
        flex-basis: 50%;
        text-align: right;
    }

    border: none;
}

.bounce-rate {
    &__subtitle {
        position: relative;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        color: #1E1F20;

        &::before {
            content: "\2022";
            color: #FDDE69;
            font-weight: bold;
            position: absolute;
            left: -15%;
        }
    }

    &__number {
        margin-top: 0px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;

        color: #1E1F20;
    }
}

.rate-chart-container {
    width: 100%;
    height: auto;
}

.rate-chart {
    width: 100%;
    height: auto;
}